<script lang="ts">
import Vue from 'vue';
import {
  NextStep as FeaturesCTA,
  SideNavigationVariant,
  GroupButtons,
} from '../../common/index';
import {
  FeatureOverview,
  FeatureBenefit,
  SolutionsResourceCards,
} from '../../features/index';
import { SolutionsHero } from '../../solutions/index.vue';

export default Vue.extend({
  components: {
    FeaturesCTA,
    FeatureOverview,
    FeatureBenefit,
    SideNavigationVariant,
    SolutionsHero,
    SolutionsResourceCards,
    GroupButtons,
  },
  props: {
    page: {
      type: Object,
      required: true,
    },
  },
});
</script>

<template>
  <div class="overflow-clip">
    <SolutionsHero
      v-if="page.components['feature-block-hero']"
      :data="page.components['feature-block-hero'].data"
    />
    <FeatureOverview
      v-if="page.components['feature-overview']"
      :data="page.components['feature-overview'].data"
    />
    <FeatureBenefit
      v-if="page.components['feature-benefit']"
      :data="page.components['feature-benefit'].data"
    />
    <SideNavigationVariant
      v-if="page.components['side-navigation']"
      :links="page.components['side-navigation'].links"
    >
      <FeatureOverview
        v-if="page.components['side-navigation'].data['feature-overview']"
        id="overview"
        :data="page.components['side-navigation'].data['feature-overview'].data"
        data-slippers-scroll="overview"
      />
      <FeatureBenefit
        v-if="page.components['side-navigation'].data['feature-benefit']"
        id="benefits"
        :data="page.components['side-navigation'].data['feature-benefit'].data"
        data-slippers-scroll="benefits"
      />
    </SideNavigationVariant>
    <GroupButtons
      v-if="page.components['group-buttons']"
      :data="page.components['group-buttons'].data"
    />
    <SolutionsResourceCards
      :data="page.components['solutions-resource-cards'].data"
    />
    <FeaturesCTA />
  </div>
</template>
