<script>
export default {
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
};
</script>

<template>
  <SlpContainer>
    <div class="startups-link slp-my-96">
      <div class="text-container">
        <SlpTypography variant="heading2-bold" tag="h2" class="slp-mb-24">
          {{ data.header }}</SlpTypography
        >
        <SlpTypography variant="body1" class="slp-mb-24">
          {{ data.description }}</SlpTypography
        >
        <SlpButton :href="data.button.href">
          {{ data.button.text }}
        </SlpButton>
      </div>
      <img class="image" :src="data.image" :alt="data.alt" loading="lazy" />
    </div>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.startups-link {
  display: flex;
  .text-container {
    display: flex;
    background: $color-surface-800;
    flex-direction: column;
    border-radius: 4px 0 0 4px;
    align-items: flex-start;
    padding: 40px;
    @media (max-width: $breakpoint-lg) {
      border-radius: 0px 4px 190px 0px;
    }
  }
  .image {
    display: none;
    max-width: 474px;
    max-height: 364px;
    object-fit: cover;
    border-radius: 0px 4px 190px 0px;
    @media (min-width: $breakpoint-lg) {
      display: block;
    }
  }
}
</style>
