<script lang="ts">
import Vue from 'vue';
import { IsMobileMixin } from '../../mixins';

export default Vue.extend({
  mixins: [IsMobileMixin],
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      desktopPartners: this.processPartnerArray(5),
      mobilePartners: this.processPartnerArray(3),
    };
  },
  computed: {
    partnersArray() {
      return this.isMobile ? this.mobilePartners : this.desktopPartners;
    },
  },
  mounted() {
    this.processPartnerArray();
  },
  methods: {
    processPartnerArray(numberOfColumns) {
      // This method is used to create empty cells for the grid.
      // Having css create the empty cells results in gray blocks because of the grid background used for the inner borders of the grid.
      const currentLength = this.data.partners.length;
      const requiredLength =
        Math.ceil(currentLength / numberOfColumns) * numberOfColumns;
      const emptyCellArray = Array.from(
        { length: requiredLength - currentLength },
        () => ({ logo: '' }),
      );
      return [...this.data.partners, ...emptyCellArray];
    },
  },
});
</script>

<template>
  <SlpContainer>
    <div class="partners-grid">
      <SlpTypography
        variant="heading2-bold"
        tag="h2"
        class="slp-mb-16 slp-mt-96"
      >
        {{ data.header }}
      </SlpTypography>
      <SlpTypography variant="heading5" tag="h3">{{
        data.subheader
      }}</SlpTypography>
      <div class="grid-container">
        <div
          v-for="partner in partnersArray"
          :key="partner.alt"
          class="grid-icon"
        >
          <a v-if="partner.logo" :href="partner.href">
            <nuxt-img
              class="grid-icon__logo"
              :src="partner.logo"
              :alt="partner.alt"
              loading="lazy"
            />
          </a>
        </div>
      </div>
    </div>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.partners-grid {
  display: flex;
  flex-direction: column;
}
.grid-container {
  display: grid;
  margin-top: 40px;
  grid-auto-rows: 128px;
  @media (min-width: $breakpoint-lg) {
    grid-template-columns: repeat(5, 1fr);
  }
  grid-template-columns: repeat(3, 1fr);
  background-color: $color-surface-200;
  grid-gap: 1px;
}

.grid-icon {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  &__logo {
    @media (max-width: $breakpoint-lg) {
      transform: scale(0.9);
    }
  }
  a {
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.15);
    }
  }
}
</style>
